h1{
    color: blueviolet;,
}

#prg1 {
    font-size: 15pt;
    color: rgb(124, 52, 106);
}
#prg2 {
    font-size: 15pt;
    color: rgb(124, 52, 106);
}
body {
    background-color: rgb(201, 130, 107);
}